
/* Content */

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 60px;
}

/* Center */

.landingScreen {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

@media screen and (min-width: 600px) {
  .landingScreen {
    height: 100vh;
  }  
}

.lettersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.letterB {
    width: 160px;
    margin: 20px 0px;
}

.letterG {
  width: 140px;
  margin: 20px 0px;
}

.ampersand {
    width: 40px;
    margin: 5px 0px;
}


@media screen and (max-width: 400px) {
  .letterB, .letterG {
    width: 120px;
  }

  .ampersand {
    width: 30px;
  }
}

@media screen and (min-width: 680px) {
  .lettersContainer {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-around;
    flex: 1 0 0;
  }
  .letterB, .letterG {
    width: 240px;
  }

  .letterG {
    margin-top: 100px;
  }

  .ampersand {
    width: 80px;
  }
}

@media screen and (min-width: 680px) and (max-width: 900px){

  .letterB, .letterG {
    width: 200px;
  }

  .letterG {
    margin-top: 100px;
  }

  .ampersand {
    width: 60px;
  }
}

.chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green-700);
    margin-bottom: 30px;
    padding: 5px 10px;
    border-radius: 20px;
}

.chevron:hover {
  background-color: var(--green-100);
  cursor: pointer;
}

.chevron a {
  text-decoration: inherit;
  color: inherit;
}

.gg-chevron-down {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
}
.gg-chevron-down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 4px;
    top: 2px;
}

/* All Content */

h2, h3, h4, p, span {
    font-family: 'Rosarivo', 'serif';
    margin: 0;
}

h2 {
    color: var(--green-700);
}

h3 {
    color: var(--green-700);
}

h4 {
    font-size: 18px;
}

p {
    font-size: 14px;
    color: var(--green-dark);
    font-weight: 100;
}

.title-section h3 {
  font-family: 'Tangerine', serif;
  font-size: 30px;
  font-weight: 100;
  color: var(--green-dark);
  text-align: center;
}

/* Tablet & Desktop text Styles */
@media only screen and (min-width: 401px) {
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 28px;
  }
 
  h4 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  .title-section h3 {
      font-size: 40px;
  }
}

/* Tablet & Desktop text Styles */
@media only screen and (min-width: 601px) {
  .title-section h3 {
      font-size: 54px;
  }
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* Wedding Section */

.wedding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.title-section h2 {
    font-family: 'Tangerine', serif;
    font-weight: 100;
}

.agenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--green-600);
    margin-top: 20px;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.agenda > h4, p {
    padding: 2px 0;
  }
  
.agenda-p {
  text-align: center;
}

.vineDivider {
  width: 150px;
  margin: 60px 0 40px 0;
}

.vineDivider-2 {
  width: 150px;
  margin: 60px 0 40px 0;
  transform: scaleX(-1);
}

/* Tablet Styles */
@media only screen and (min-width: 500px) and (max-width: 960px) {
  .vineDivider, .vineDivider-2 {
    width: 200px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 960px) {
  .vineDivider, .vineDivider-2 {
    width: 300px;
  }
}

.getting-there {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.getting-there-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 10px;
    max-width: 70%;
}

.getting-there-text  {
    padding: 6px 0;
    margin-bottom: 5px;
}

.getting-there-text  {
  padding: 6px 0;
  margin-bottom: 5px;
}

.getting-there-text  .p{
  padding: 6px 0;
  margin-bottom: 5px;
}

.getting-there-text  .options{
  padding: 6px 0;
  margin-bottom: 5px;
}

.notes {
  padding: 0;
}

/* Mobile */
@media only screen and (max-width: 560px) {
  .getting-there-text {
    max-width: 90%;
    }
}

.map {
  height: 300px;
  width: 100%;
  margin-top: 20px;
}

/* Tablet Styles */
@media only screen and (min-width: 500px) {
  .map {
    height: 500px;
    width: 70%;
  }
}

.our-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.trailer {
    margin-top: 10px;
}

.FAQs {
    margin-bottom: 80px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions {
    margin-top: 10px;
    max-width: 70%;
}

/* Mobile */
@media only screen and (max-width: 560px) {
  .questions{
    max-width: 90%;
    }
}

.q-and-a {
    padding: 12px 0;
}
/* Navigation */

ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }

/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-cream);
    z-index: 9999;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*=============== NAV ===============*/
  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
  }

  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background-cream);
    box-shadow: 0 -1px 6px hsla(174, 63%, 15%, 1);
    width: 70%;
    padding: 0;
    opacity: 0;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    z-index: 9999;
    color: var(--green-dark);
  }

  @media screen and (min-width: 767px) {
    .nav__menu {
      width: auto;
      padding: 0 40px;
    }
    .nav__menu i {
      display: none;
    }
  }

  .nav-active {
    opacity: 1;
    filter: blur(0);
    transition: filter .5s;
    transition: opacity .5s;
    /*transform: translateY(0px);*/
  }

  .nav-inactive {
    opacity: 0;
    filter: blur(5px);
    transition: filter .5s;
    transition: opacity .5s;
    pointer-events: none;
   /* transform: translateY(-100px); */
  }
  
  .nav__img {
    width: 32px;
    border-radius: 50%;
  }

  .nav__list, 
  .nav__link {
    display: flex;
    z-index: 9999;
  }
  
  .nav__link {
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    color: var(--title-color);
    font-weight: 600;
  }
  
  .nav__list {
    justify-content: space-around;
    padding: 0;
    z-index: 9999;
  }

  .nav__icon {
    font-size: 1.5rem;
  }
  
  /*Active link*/
  .active-link, .nav__item:hover {
    color: var(--green-800);
  }
  /* Change background header */
  .scroll-header {
    box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
  }
  

  @media screen and (min-width: 766px) and (max-width: 900px) {
    .nav__list {
      padding: 0 20px;
    }
    
  }
 
/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 767px) {
    .nav__name {
      display: none;
    }
  }
  
  @media screen and (min-width: 767px) {
    .nav__list {
      justify-content: center;
      column-gap: 3rem;
    }
    body {
      margin: 0;
    }
    .section {
      padding: 7rem 0 2rem;
    }
    .nav {
      height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
    }
    .nav__menu {
      min-width: fit-content;
    }
    .nav__item {
      min-width: fit-content;
      display: flex;
      align-items: center;
    }
    .nav__img {
      display: none;
    }
    .nav__icon {
      display: none;
    }
    .nav__name {
      font-size: var(--normal-font-size);
      /* display: block; */ /* Minimalist design, visible labels */
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1024px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
  }