:root {
  --green-dark: #033500;
    --green-800: #0A7B04;
    --green-700: #1E8C14;
    --green-600: #2D9E21;
    --green-500: #37AD2A;
    --green-400: #58B94E;
    --green-100: #daf9d6;
    --background-cream: #fffffa;
    --ggs: 1.8;
  }

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: var(--background-cream);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.top-border {
  position: relative;
  width: 100%;
}

.top-left-corner {
  width: 50px;
  position: absolute;
  top: -2px;
  left: 0px;
}

.top-left-vine {
  width: 170px;
  position: absolute;
  top: -5px;
  left: 0px;
}

.top-two-leaves {
  display: none;
}

.top-bunch {
  width: 90px;
  position: absolute;
  top: -3px;
  left: 150px;
}

.top-right-corner {
  width: 150px;
  position: absolute;
  top: -3px;
  right: 0px;
}

.top-extra-1, .top-leaf-1, .top-bunch-2, .top-bunch-3, .top-vine-3, .top-pair-1, .top-leaf-3, .top-leaf-2, .top-vine-2, .top-bunch-1, .top-leaf-1-2, .top-leftBunch-1, .top-bunch-5, .top-pair-1-2, .top-bunch-4, .top-vine-3-2, .top-bunch-1-2 {
  display: none;
}

@media only screen and (min-width: 400px) {
    .top-two-leaves {
    display: block;
        position: absolute;
        width: 30px;
        top: -3px;
        left: 230px;
      }
      
  }
  
@media only screen and (min-width: 460px){
  .top-extra-1 {
    display: block;
    position: absolute;
    width: 40px;
    top: -3px;
    right: 160px;
  }
}

  
@media only screen and (min-width: 500px){
  .top-leaf-1 {
    display: block;
    position: absolute;
    width: 40px;
    top: -3px;
    right: 200px;
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 560px){
  .top-bunch-2{
    display: block;
    position: absolute;
    width: 40px;
    top: -3px;
    right: 250px;
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 670px){
  .top-bunch-3{
    display: block;
    position: absolute;
    width: 40px;
    top: -35px;
    right: 340px;
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 800px){
  .top-vine-3{
    display: block;
    position: absolute;
    width: 40px;
    top: -20px;
    right: 450px;
    transform: rotate(90deg);
  }
}

@media only screen and (min-width: 880px){
  .top-pair-1{
    display: block;
    position: absolute;
    width: 55px;
    top: -25px;
    right: 550px;
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 940px){
  .top-leaf-3{
    display: block;
    position: absolute;
    width: 45px;
    top: -20px;
    right: 650px;
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 970px){
  .top-leaf-2{
    display: block;
    position: absolute;
    width: 55px;
    top: -3px;
    right: 720px;
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 1100px){
  .top-vine-2{
    display: block;
    position: absolute;
    width: 55px;
    top: -3px;
    right: 770px;
    transform: rotate(90deg);
  }
}

@media only screen and (min-width: 1230px){
  .top-bunch-1{
    display: block;
    position: absolute;
    width: 70px;
    top: -35px;
    right: 870px;
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 1300px){
  .top-leaf-1-2{
    display: block;
    position: absolute;
    width: 50px;
    top: -3px;
    right: 980px;
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 1360px){
  .top-leftBunch-1{
    display: block;
    position: absolute;
    width: 60px;
    top: -3px;
    right: 1040px;
    transform: rotate(90deg);
  }
}

@media only screen and (min-width: 1400px){
  .top-bunch-5{
    display: block;
    position: absolute;
    width: 40px;
    top: -15px;
    right: 1130px;
    transform: rotate(90deg);
  }
}

@media only screen and (min-width: 1650px){
  .top-bunch-4{
    display: block;
    position: absolute;
    width: 50px;
    top: -45px;
    right: 1250px;
    transform: rotate(90deg);
  }
}

@media only screen and (min-width: 1750px){
  .top-pair-1-2 {
    display: block;
    position: absolute;
    width: 55px;
    top: -25px;
    right: 1380px;
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 1850px){
  .top-vine-3-2{
    display: block;
    position: absolute;
    width: 45px;
    top: -25px;
    right: 1500px;
    transform: rotate(90deg);
  }
}

@media only screen and (min-width: 1970px){
  .top-bunch-1-2{
    display: block;
    position: absolute;
    width: 70px;
    top: -35px;
    right: 1610px;
    transform: rotate(270deg);
  }
}

/** Sticky borders*/

.left-top {
  position: fixed;
  width: 40px;
  top: 10px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.5s;
}

.left {
  position: fixed;
  width: 63px;
  top: 150px;
  left: 0px;
}

.right-top {
  position: fixed;
  width: 35px;
  right: 0px;
  top: 3px;
  opacity: 0;
  transition: opacity 0.5s;
}

.right {
  position: fixed;
  width: 60px;
  right: 0px;
  top: 140px;
}

.visible {
  opacity: 1;
}

@media screen and (min-width: 400px) {
  .left, .right {
    width: 70px;
  }  
}