:root {
  --green-dark: #033500;
    --green-800: #0A7B04;
    --green-700: #1E8C14;
    --green-600: #2D9E21;
    --green-500: #37AD2A;
    --green-400: #58B94E;
    --green-100: #daf9d6;
    --background-cream: #fffffa;
    --ggs: 1.8;
  }

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: var(--background-cream);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.top-border {
  position: relative;
  width: 100%;
}

.top-left-corner {
  width: 50px;
  position: absolute;
  top: -2px;
  left: 0px;
}

.top-left-vine {
  width: 170px;
  position: absolute;
  top: -5px;
  left: 0px;
}

.top-two-leaves {
  display: none;
}

.top-bunch {
  width: 90px;
  position: absolute;
  top: -3px;
  left: 150px;
}

.top-right-corner {
  width: 150px;
  position: absolute;
  top: -3px;
  right: 0px;
}

.top-extra-1, .top-leaf-1, .top-bunch-2, .top-bunch-3, .top-vine-3, .top-pair-1, .top-leaf-3, .top-leaf-2, .top-vine-2, .top-bunch-1, .top-leaf-1-2, .top-leftBunch-1, .top-bunch-5, .top-pair-1-2, .top-bunch-4, .top-vine-3-2, .top-bunch-1-2 {
  display: none;
}

@media only screen and (min-width: 400px) {
    .top-two-leaves {
    display: block;
        position: absolute;
        width: 30px;
        top: -3px;
        left: 230px;
      }
      
  }
  
@media only screen and (min-width: 460px){
  .top-extra-1 {
    display: block;
    position: absolute;
    width: 40px;
    top: -3px;
    right: 160px;
  }
}

  
@media only screen and (min-width: 500px){
  .top-leaf-1 {
    display: block;
    position: absolute;
    width: 40px;
    top: -3px;
    right: 200px;
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 560px){
  .top-bunch-2{
    display: block;
    position: absolute;
    width: 40px;
    top: -3px;
    right: 250px;
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 670px){
  .top-bunch-3{
    display: block;
    position: absolute;
    width: 40px;
    top: -35px;
    right: 340px;
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 800px){
  .top-vine-3{
    display: block;
    position: absolute;
    width: 40px;
    top: -20px;
    right: 450px;
    transform: rotate(90deg);
  }
}

@media only screen and (min-width: 880px){
  .top-pair-1{
    display: block;
    position: absolute;
    width: 55px;
    top: -25px;
    right: 550px;
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 940px){
  .top-leaf-3{
    display: block;
    position: absolute;
    width: 45px;
    top: -20px;
    right: 650px;
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 970px){
  .top-leaf-2{
    display: block;
    position: absolute;
    width: 55px;
    top: -3px;
    right: 720px;
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 1100px){
  .top-vine-2{
    display: block;
    position: absolute;
    width: 55px;
    top: -3px;
    right: 770px;
    transform: rotate(90deg);
  }
}

@media only screen and (min-width: 1230px){
  .top-bunch-1{
    display: block;
    position: absolute;
    width: 70px;
    top: -35px;
    right: 870px;
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 1300px){
  .top-leaf-1-2{
    display: block;
    position: absolute;
    width: 50px;
    top: -3px;
    right: 980px;
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 1360px){
  .top-leftBunch-1{
    display: block;
    position: absolute;
    width: 60px;
    top: -3px;
    right: 1040px;
    transform: rotate(90deg);
  }
}

@media only screen and (min-width: 1400px){
  .top-bunch-5{
    display: block;
    position: absolute;
    width: 40px;
    top: -15px;
    right: 1130px;
    transform: rotate(90deg);
  }
}

@media only screen and (min-width: 1650px){
  .top-bunch-4{
    display: block;
    position: absolute;
    width: 50px;
    top: -45px;
    right: 1250px;
    transform: rotate(90deg);
  }
}

@media only screen and (min-width: 1750px){
  .top-pair-1-2 {
    display: block;
    position: absolute;
    width: 55px;
    top: -25px;
    right: 1380px;
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 1850px){
  .top-vine-3-2{
    display: block;
    position: absolute;
    width: 45px;
    top: -25px;
    right: 1500px;
    transform: rotate(90deg);
  }
}

@media only screen and (min-width: 1970px){
  .top-bunch-1-2{
    display: block;
    position: absolute;
    width: 70px;
    top: -35px;
    right: 1610px;
    transform: rotate(270deg);
  }
}

.left-border {
    position: absolute;
    top: 150px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.leftBunch {
    width: 40px;
}

.leftVine {
    position: absolute;
    width: 40px;
    top: 50px;
    left: 0px
}

.leftMulti {
    position: absolute;
    width: 60px;
    top: 120px;
    left: 0px;
}

.leaf1 {
    position: absolute;
    width: 20px;
    top: 610px;
    left: 0px;
    transform: rotate(180deg);
}

.pair1 {
    position: absolute;
    width: 40px;
    top: 630px;
    left: 0px;
    transform: rotate(180deg);
}

.leaf2 {
    position: absolute;
    width: 50px;
    top: 720px;
    left: 0px;
    transform: rotate(180deg);
}

.bunch2 {
    position: absolute;
    width: 50px;
    top: 760px;
    left: 0px;
    transform: rotate(180deg);
}

.topBunchLeft {
    position: absolute;
    width: 90px;
    top: 820px;
    left: -13px;
    transform: rotate(270deg);
}

.bunch3Left {
    position: absolute;
    width: 40px;
    top: 900px;
    left: -13px;
    transform: rotate(180deg);
}

.vine1Left {
    position: absolute;
    width: 50px;
    top: 1000px;
    left: 0px;
    transform: rotate(180deg);
}

.bunch1Left {
    position: absolute;
    width: 50px;
    top: 1050px;
    left: 0px;
    transform: rotate(180deg);
}

.bunch5LeftAgain {
    position: absolute;
    width: 50px;
    top: 1150px;
    left: 0px;
}

.rightMultiOnLeft {
    position: absolute;
    width: 90px;
    top: 1250px;
    left: 0px;
    transform: rotate(180deg);
}

.topBunchLeft2 {
  position: absolute;
  width: 90px;
  top: 1800px;
  left: -13px;
  transform: rotate(270deg);
}

.vine3Left {
    position: absolute;
    width: 40px;
    top: 1900px;
    left: 0px;
}

.bunch4Left2 {
    position: absolute;
    width: 50px;
    top: 2000px;
    left: 0px;
}

.bunch2Again {
    position: absolute;
    width: 50px;
    top: 2150px;
    left: 0px;
    transform: rotate(180deg);
}

.leftBunch2 {
    position: absolute;
    width: 50px;
    top: 2230px;
    left: 0px;
}

.rightMultiOnLeft2 {
  position: absolute;
  width: 80px;
  top: 2320px;
  left: 0px;
  transform: rotate(180deg);
}

.leftMulti2 {
  position: absolute;
  width: 60px;
  top: 2850px;
  left: 0px;
  display: none;
}

.bunch2-3 {
  position: absolute;
  width: 60px;
  top: 3350px;
  left: 0px;
  transform: rotate(180deg);
  display: none;
}
.leftBunch3 {
  position: absolute;
  width: 60px;
  top: 3450px;
  left: 0px;
  display: none;
}
.bunch4Left3 {
  position: absolute;
  width: 60px;
  top: 3520px;
  left: 0px;
  display: none;
}
/* .leftMulti3 {
  position: absolute;
  width: 60px;
  top: 3700px;
  left: 0px;
  transform: scaleY(-1);
  display: none;
} */

@media screen and (min-width: 500px) {
  .leftMulti2{
    display: block;
  }  
}

@media screen and (min-width: 600px) {
  .bunch2-3, .leftBunch3  {
    display: block;
  }  
}

@media screen and (min-width: 1100px) {
  .bunch4Left3 {
    display: block;
  }
}

/* @media screen and (min-width: 1100px) {
  .leftMulti3 {
    display: block;
  }
} */

/* Right Border */

.right-border {
    position: absolute;
    top: 130px;
    right: -1px;
    display: flex;
    flex-direction: column;
}

.rightMulti {
    position: absolute;
    width: 100px;
    right: 0px;
}

.bunch4Right {
    position: absolute;
    width: 50px;
    top: 660px;
    right: 0px;
    transform: rotate(180deg);
}

.leaf3Right {
    position: absolute;
    width: 30px;
    top: 820px;
    right: 0px;
}

.vine3Right {
    position: absolute;
    width: 50px;
    top: 880px;
    right: 0px;
    transform: rotate(180deg);
}

.bunch5Right {
    position: absolute;
    width: 45px;
    top: 990px;
    right: 0px;
    transform: rotate(180deg);
}

.leaf1Right {
    position: absolute;
    width: 40px;
    top: 1070px;
    right: 0px;
}

.pair1Right {
    position: absolute;
    width: 40px;
    top: 1110px;
    right: 0px;
}

.vine2Right {
    position: absolute;
    width: 40px;
    top: 1200px;
    right: 0px;
    transform: rotate(180deg);
}

.topBunchRight {
    position: absolute;
    width: 70px;
    top: 1260px;
    right: -10px;
    transform: rotate(90deg);
}

.bunch2Right {
    position: absolute;
    width: 40px;
    top: 1320px;
    right: 0px;
}

.bunch1Right {
    position: absolute;
    width: 40px;
    top: 1380px;
    right: 0px;
}

.leaf2Right {
    position: absolute;
    width: 40px;
    top: 1470px;
    right: 0px;
}

.vine3Right2 {
    position: absolute;
    width: 40px;
    top: 1520px;
    right: 0px;
    transform: rotate(180deg);
    transform: scaleX(-1);
}

.bunch4Right2 {
    position: absolute;
    width: 50px;
    top: 1620px;
    right: 0px;
    transform: scaleX(-1);
}

.leaf1Right2 {
    position: absolute;
    width: 40px;
    top: 1760px;
    right: 0px;
}

.leaf3Right2 {
    position: absolute;
    width: 30px;
    top: 1800px;
    right: 0px;
}

.leftBunchRight {
    position: absolute;
    width: 45px;
    top: 1850px;
    right: 0px;
    transform: scaleX(-1);
}

.bunch5Right2 {
    position: absolute;
    width: 45px;
    top: 1920px;
    right: 0px;
    transform: scaleX(-1);
}

.vine1Right {
    position: absolute;
    width: 45px;
    top: 2000px;
    right: 0px;
}

.pair1Right2 {
  position: absolute;
  width: 45px;
  top: 2050px;
  right: 0px;
}

.bunch1Right2 {
  position: absolute;
  width: 55px;
  top: 2150px;
  right: 0px;
}

.topBunchRight2 {
  position: absolute;
  width: 70px;
  top: 2300px;
  right: -10px;
  transform: rotate(90deg);
}

.leftMultiRight {
  position: absolute;
  width: 50px;
  top: 2360px;
  right: 0px;
  transform: rotate(180deg);
}

.rightMulti2 {
  position: absolute;
  width: 90px;
  top: 2800px;
  right: 0px;
  display: none;
}

.leftMultiRight2 {
  position: absolute;
  width: 50px;
  top: 3350px;
  right: 0px;
  transform: rotate(180deg);
  display: none;
}

@media screen and (min-width: 500px) {
  .rightMulti2 {
    display: block;
  }  
}

@media screen and (min-width: 1000px) {
  .leftMultiRight2 {
    display: block;
  }  
}

/* Content */

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 60px;
}

/* Center */

.landingScreen {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

@media screen and (min-width: 600px) {
  .landingScreen {
    height: 100vh;
  }  
}

.lettersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.letterB {
    width: 160px;
    margin: 20px 0px;
}

.letterG {
  width: 140px;
  margin: 20px 0px;
}

.ampersand {
    width: 40px;
    margin: 5px 0px;
}


@media screen and (max-width: 400px) {
  .letterB, .letterG {
    width: 120px;
  }

  .ampersand {
    width: 30px;
  }
}

@media screen and (min-width: 680px) {
  .lettersContainer {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-around;
    flex: 1 0 0;
  }
  .letterB, .letterG {
    width: 240px;
  }

  .letterG {
    margin-top: 100px;
  }

  .ampersand {
    width: 80px;
  }
}

@media screen and (min-width: 680px) and (max-width: 900px){

  .letterB, .letterG {
    width: 200px;
  }

  .letterG {
    margin-top: 100px;
  }

  .ampersand {
    width: 60px;
  }
}

.chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green-700);
    margin-bottom: 30px;
    padding: 5px 10px;
    border-radius: 20px;
}

.chevron:hover {
  background-color: var(--green-100);
  cursor: pointer;
}

.chevron a {
  text-decoration: inherit;
  color: inherit;
}

.gg-chevron-down {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
}
.gg-chevron-down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 4px;
    top: 2px;
}

/* All Content */

h2, h3, h4, p, span {
    font-family: 'Alegreya', 'serif';
    margin: 0;
}

h2 {
    color: var(--green-700);
}

h3 {
    color: var(--green-700);
}

h4 {
    font-size: 18px;
}

p {
    font-size: 14px;
    color: var(--green-dark);
    font-weight: 100;
}

.title-section h3 {
  font-family: 'Tangerine', serif;
  font-size: 36px;
  font-weight: 100;
  color: var(--green-dark);
}

/* Tablet & Desktop text Styles */
@media only screen and (min-width: 401px) {
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 28px;
  }
 
  h4 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  .title-section h3 {
      font-size: 44px;
  }
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* Wedding Section */

.wedding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.title-section h2 {
    font-family: 'Tangerine', serif;
    font-weight: 100;
}

.agenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--green-600);
    margin-top: 20px;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.agenda h4, p {
    padding: 2px 0;
}

.vineDivider {
  width: 150px;
  margin: 60px 0 40px 0;
}

.vineDivider-2 {
  width: 150px;
  margin: 60px 0 40px 0;
  transform: scaleX(-1);
}

/* Tablet Styles */
@media only screen and (min-width: 500px) and (max-width: 960px) {
  .vineDivider, .vineDivider-2 {
    width: 200px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 960px) {
  .vineDivider, .vineDivider-2 {
    width: 300px;
  }
}

.getting-there {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.getting-there-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 10px;
}

.getting-there-text p {
    padding: 6px 0;
    margin-bottom: 5px;
}

.map {
  height: 300px;
  width: 100%;
  margin-top: 20px;
  z-index: -1;
}

/* Tablet Styles */
@media only screen and (min-width: 500px) {
  .map {
    height: 500px;
    width: 70%;
  }
}

.our-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.trailer {
    margin-top: 10px;
}

.FAQs {
    margin-bottom: 80px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions {
    margin-top: 10px;
}

.q-and-a {
    padding: 8px 0;
}
/* Navigation */

ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }

/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-cream);
    z-index: 9999;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*=============== NAV ===============*/
  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
  }

  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background-cream);
    box-shadow: 0 -1px 6px hsla(174, 63%, 15%, 1);
    width: 70%;
    padding: 0;
    opacity: 0;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    z-index: 9999;
    color: var(--green-dark);
  }

  @media screen and (min-width: 767px) {
    .nav__menu {
      width: auto;
      padding: 0 40px;
    }
    .nav__menu i {
      display: none;
    }
  }

  .nav-active {
    opacity: 1;
    filter: blur(0);
    transition: filter .5s;
    transition: opacity .5s;
    /*transform: translateY(0px);*/
  }

  .nav-inactive {
    opacity: 0;
    filter: blur(5px);
    transition: filter .5s;
    transition: opacity .5s;
    pointer-events: none;
   /* transform: translateY(-100px); */
  }
  
  .nav__img {
    width: 32px;
    border-radius: 50%;
  }
  
  .nav__logo {
    color: var(--title-color);
    font-weight: 600;
  }
  
  .nav__list, 
  .nav__link {
    display: flex;
    z-index: 9999;
  }
  
  .nav__link {
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    color: var(--title-color);
    font-weight: 600;
  }
  
  .nav__list {
    justify-content: space-around;
    padding: 0;
    z-index: 9999;
  }

  .nav__icon {
    font-size: 1.5rem;
  }
  
  /*Active link*/
  .active-link, .nav__item:hover {
    color: var(--green-800);
  }
  /* Change background header */
  .scroll-header {
    box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
  }
  

  @media screen and (min-width: 766px) and (max-width: 900px) {
    .nav__list {
      padding: 0 20px;
    }
    
  }
 
/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 767px) {
    .nav__name {
      display: none;
    }
  }
  
  @media screen and (min-width: 767px) {
    .nav__list {
      justify-content: center;
      column-gap: 3rem;
    }
    body {
      margin: 0;
    }
    .section {
      padding: 7rem 0 2rem;
    }
    .nav {
      height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
    }
    .nav__menu {
      min-width: fit-content;
    }
    .nav__item {
      min-width: fit-content;
      display: flex;
      align-items: center;
    }
    .nav__img {
      display: none;
    }
    .nav__icon {
      display: none;
    }
    .nav__name {
      font-size: var(--normal-font-size);
      /* display: block; */ /* Minimalist design, visible labels */
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1024px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
  }