
/* Content */

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 60px;
}

/* Center */

.landingScreen {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

@media screen and (min-width: 600px) {
  .landingScreen {
    height: 100vh;
  }  
}

.lettersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.letterB {
    width: 160px;
    margin: 20px 0px;
}

.letterG {
  width: 140px;
  margin: 20px 0px;
}

.ampersand {
    width: 40px;
    margin: 5px 0px;
}


@media screen and (max-width: 400px) {
  .letterB, .letterG {
    width: 120px;
  }

  .ampersand {
    width: 30px;
  }
}

@media screen and (min-width: 680px) {
  .lettersContainer {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-around;
    flex: 1 0 0;
  }
  .letterB, .letterG {
    width: 240px;
  }

  .letterG {
    margin-top: 100px;
  }

  .ampersand {
    width: 80px;
  }
}

@media screen and (min-width: 680px) and (max-width: 900px){

  .letterB, .letterG {
    width: 200px;
  }

  .letterG {
    margin-top: 100px;
  }

  .ampersand {
    width: 60px;
  }
}

.chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green-700);
    margin-bottom: 30px;
    padding: 5px 10px;
    border-radius: 20px;
}

.chevron:hover {
  background-color: var(--green-100);
  cursor: pointer;
}

.chevron a {
  text-decoration: inherit;
  color: inherit;
}

.gg-chevron-down {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
}
.gg-chevron-down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 4px;
    top: 2px;
}

/* All Content */

h2, h3, h4, p, span {
    font-family: 'Rosarivo', 'serif';
    margin: 0;
}

h2 {
    color: var(--green-700);
}

h3 {
    color: var(--green-700);
}

h4 {
    font-size: 18px;
}

p {
    font-size: 14px;
    color: var(--green-dark);
    font-weight: 100;
}

.title-section h3 {
  font-family: 'Tangerine', serif;
  font-size: 30px;
  font-weight: 100;
  color: var(--green-dark);
  text-align: center;
}

/* Tablet & Desktop text Styles */
@media only screen and (min-width: 401px) {
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 28px;
  }
 
  h4 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  .title-section h3 {
      font-size: 40px;
  }
}

/* Tablet & Desktop text Styles */
@media only screen and (min-width: 601px) {
  .title-section h3 {
      font-size: 54px;
  }
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* Wedding Section */

.wedding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.title-section h2 {
    font-family: 'Tangerine', serif;
    font-weight: 100;
}

.agenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--green-600);
    margin-top: 20px;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.agenda > h4, p {
    padding: 2px 0;
  }
  
.agenda-p {
  text-align: center;
}

.dress-code {
  font-style: italic;
  font-size: 16px;
  margin-top: 5px;
}

.vineDivider {
  width: 150px;
  margin: 60px 0 40px 0;
}

.vineDivider-2 {
  width: 150px;
  margin: 60px 0 40px 0;
  transform: scaleX(-1);
}

/* Tablet Styles */
@media only screen and (min-width: 500px) and (max-width: 960px) {
  .vineDivider, .vineDivider-2 {
    width: 200px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 960px) {
  .vineDivider, .vineDivider-2 {
    width: 300px;
  }
}

.getting-there {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.getting-there-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 10px;
    max-width: 70%;
}

.getting-there-text  {
    padding: 6px 0;
    margin-bottom: 5px;
}

.getting-there-text  {
  padding: 6px 0;
  margin-bottom: 5px;
}

.getting-there-text p{
  margin: 10px 0px;
}

.options {
  padding-bottom: 0;
}

.notes {
  padding: 0;
}

.FAQs-link {
  text-decoration: underline;
  font-weight: bold;
  color: var(--green-dark);
}

/* Mobile */
@media only screen and (max-width: 560px) {
  .getting-there-text {
    max-width: 90%;
    }
}

.map {
  height: 300px;
  width: 100%;
  margin-top: 20px;
}

/* Tablet Styles */
@media only screen and (min-width: 500px) {
  .map {
    height: 500px;
    width: 70%;
  }
}

.our-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.trailer {
    margin-top: 10px;
}

.FAQs {
    margin-bottom: 80px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions {
    margin-top: 10px;
    max-width: 70%;
}

/* Mobile */
@media only screen and (max-width: 560px) {
  .questions{
    max-width: 90%;
    }
}

.q-and-a {
    padding: 12px 0;
}

.q-and-a p {
  margin: 10px 0;
}

.q-and-a .dayText {
  color:  var(--green-700);
  font-weight: bold;
  font-size: 20px;
}
/* Navigation */

ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
